*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    --background: linear-gradient(180deg, #00CA76 0%, #3DB855 100%);
    --background-button: linear-gradient(95.26deg, #6BE053 0%, #00E5A8 100%);
    --green: #33BB5B;

}

h1 {
    font-family: 'AtypSemiBold';
    font-size: 3rem;
    color: white;
}

p {
    font-family: 'Grotesk65';
    font-size: 1.125rem;
    line-height: 1.7rem;
    color: white;
}

html,
body{
    height: 100%;
}

body {
    margin: 0 10%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding-top: 30px;
    width: 100%;
}

button{
    cursor: pointer;
}


.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li {
    margin-left: 3.125rem;
}

.nav-list li a {
    color: white;
    font-family: 'Grotesk65';
    font-size: 1.5rem;
    font-weight: 100;
}

.nav-btn{
    background: linear-gradient(138.19deg, #36E26A 0%, #00E382 44.27%, #00E4A5 100%);
    padding: 3rem 1rem 1rem 1rem;
}

.section{
    display: flex;
}


.text-div{ 
    margin-top: 8rem;
}

.text-div h1{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.text-div{
    margin-top: 4rem;
}


/* responsive */

.logo-mobile{
    display: none;
}

@media only screen and (max-width: 768px){
    .logo-mobile{
        display: block;
    }
    .logo-desktop{
        display: none;
    }
}

@media (max-width:425px){
.nav-list li a {
    font-size: 1rem;
}
}