@font-face { 
    font-family: 'AtypBold';
    src: url("/assets/fonts/AtypDisplay-Bold.ttf");
  }

@font-face { 
    font-family: 'AtypMedium';
    src: url("/assets/fonts/AtypDisplay-Medium.ttf");
  }


@font-face { 
    font-family: 'AtypRegular';
    src: url("/assets/fonts/AtypDisplay-Regular.ttf");
  }

  @font-face { 
    font-family: 'AtypSemiBold';
    src: url("/assets/fonts/AtypDisplay-Semibold.ttf");
  }


@font-face { 
    font-family: 'Grotesk65';
    src: url("/assets/fonts/Grotesk-65.ttf");
  }

body {
    background: var(--background);
    background-repeat: no-repeat;
   
}

/* first-page */

#title-first{
    margin-top: 6rem;
}

.content-paragraph-first{
    margin-bottom: 3rem;
}

.img-div{
    margin-top: 7.4rem;
    margin-left: 10rem;
}

.img-div img {
    width: 600px;
    height: auto;
}




/* second-page */

.img-section{
    margin-left: 10rem;
}

.img-section img{
    width: 100%;
    height: auto;
}

input{
    padding: 1rem 4rem 1rem 1rem;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}

.back-button{
    color: white;
    font-family: 'Grotesk65';
}

.create-nft{
    padding: 1rem 2.5rem;
}

/* responsive */



.img-section-mobile{
    display: none;
}

.img-section-mobile img{
    width: 100%;
    height: auto;
}

@media (min-width:420px) and (max-width:768px){
    .img-section{
        margin-top: 6rem;
    }
}

@media (max-width:425px){
    .section{
        display: block;
    }

    .img-section{
        display: none;
    }

    .img-section-mobile{
        display: block;
    }

    .btn-area-2{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
    }

}

/* third-page */

.button-download{
    margin-top: 4rem;
}

.content-paragraph-third{
    margin-bottom: 3rem;
}

@media (max-width:425px){
    .btn-area-3{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
    }
}

/* button 1 */

.btn-area{
    position: relative;
    z-index: 99;
    display: flex;
}

.btn-main{
    position: relative;
    margin-right: 20px;
    display: inline-block;
    padding-right: 20px;
    padding-bottom: 15px; 
}

.btn-main:before{
    position: absolute;
    content: "";
    width: 95%;
    height: 90%;
    background: url(/assets/images/btn-border.png) no-repeat center center;
    background-size: 100% 100%;
    bottom: 5%;
    z-index: -1;
    right: 5%;
}

.btn-main-content{
    background: var(--background-button);
    color: white;
    padding: 0.8rem 1rem;
    font-family: 'AtypMedium';
    font-size: 1rem;
}

/* button 2 */

.btn-secondary{
    position: relative;
    /* margin-right: 20px; */
    display: inline-block;
    padding-right: 20px;
    padding-bottom: 15px; 
}

.btn-secondary:before{
    position: absolute;
    content: "";
    width: 93%;
    height: 90%;
    background: url(/assets/images/btn-border.png) no-repeat center center;
    background-size: 100% 100%;
    bottom: 5%;
    z-index: -1;
    right: 7.5%;
}

.btn-secondary-content{
    background: white;
    color: var(--green);
    padding: 0.8rem 2.2rem;
    font-family: 'Grotesk65';
    font-size: 1.125rem;
    line-height: 1.7rem;
}

/* button 3 */

.btn-main-content-2{
    background: var(--background-button);
    color: white;
    padding: 0.8rem 2rem;
    font-family: 'AtypMedium';
    font-size: 1rem;
}

/* button 4 */

.btn-main-content-3{
    background: var(--background-button);
    color: white;
    padding: 0.8rem 2rem;
    font-family: 'AtypMedium';
    font-size: 1rem;
}